:root{
    --myfont: sans-serif;
    --valid: rgb(0, 255, 0);
    --invalid: red;
    --warning: yellow;
    --purple: rgb(142, 1, 155);
    --darkpurple: rgb(65, 0, 71);
    --dark-navyblue: rgb(5, 5, 37); 
    --wheat: rgb(245, 233, 212);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    font-family: var(--myfont);
}

main{
    width: 100%;
    height: auto;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    /* border: 1px solid black; */
    position: relative;
}

main .container{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
main .container .box{
    color: white;
    grid-column: span 1;
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--dark-navyblue);
    position: relative;
}
main .container .box p{
    text-transform: capitalize;
    text-wrap: wrap;
}
main .container .box i{
    position: absolute;
    left: 20px;
    top: 40px;
    font-size: 1.6rem;
}
main .container .box:hover{
    p{
        transition: .5s;
        font-size: 1.3rem;
    }
}
@media (max-width:600px) {
    main{
        width: 100vw;
        margin-top: 70px;
        padding: 10px;
    }
    
    main .container{
        width: 100%;
        gap: 10px;
        margin-bottom: 10px;
    }
    main .container .box{
        height: 120px;
    }
    main .container .box i{
        position: absolute;
        left: 20px;
        top: 25px;
        font-size: 1.2rem;
    }
    main .container .box:hover{
        p{
            transition: .5s;
            font-size: 1.3rem;
        }
    }
}